@import 'vars';
@import 'global';
@import 'fonts';


.header {
    &__top {
        background-color: #fefefe; 
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }
    &__logo {}
    &__text {
        margin-left: auto;
        margin-right: 50px;
        span {
        color: $orange;
    }
    }
    
    &__phone {}
    &__btn {
        border-radius: 4px;
        padding: 4px;
        width: 72px;
        text-align: center;
        color: #fefefe;
        font-size: 12px;
        line-height: 24px;         
    }
    &__btn-login{
        background-color: $green;
    }
    &__btn-register{
        background-color: $orange;
        margin-left: 7px;
    }
    &__menu {   
        background-color: $bg;
    }
}
.haader {
    &__box {}
}
.basket {}
.nav {
    display: flex;
        align-items: center;
        height: 60px;
    &__list  {
        li {
            & + li{
               margin-left: 40px;  
            }
                a{
                color: #fefefe;
                font-size: 14px; 
                }
            
        }
        
    }
}







